/* Terms of services  */
.advanced-terms-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 3em;
    color: #050505;
  }
  
  .header p {
    font-size: 1em;
    color: #777;
  }
  
  .section {
    margin-bottom: 15px;
    padding: 20px;
    border-left: 5px solid #0b0b0b;
    background-color: #f6f5f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .section-header h2 {
    font-size: 1.5em;
    color: #0a0a0a;
  }
  
  .section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
  }